* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fafafa;
  font-size: 0.8rem;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.projects .project-btn-toggle .mdc-button__label {
  font-size: 0.6rem;
}

.card {
  border: 3px solid #fafafa;
}

.hero-divider {
  margin-block: 1.25rem;
  opacity: 0.35;
}

.container {
  margin-inline: auto;
  position: relative;
  perspective: 1000px;
  padding-inline: 0;
  padding-block: 0.5rem;

  .section {
    width: 90%;
  }

  .hero,
  .projects {
    position: absolute;
    transition: transform 0.8s ease, z-index 0.8s ease;
    padding-block: 0.5rem;
  }

  .hero {
    width: 95%;
    left: 50%;
    top: 0;
    transform: translateX(-50%) rotateY(0deg);
    z-index: 0;
    .hero-body {
      display: flex;
      justify-content: space-between;
      background-color: #212121;

      .header-container {
        display: flex;
        justify-content: space-between;
        margin-top: 4rem;
        .welcome-container {
          display: flex;
          justify-content: center;
          width: 100%;
        }
      }

      .mat-mdc-card-title {
        font-size: 1.1rem;
        width: 100%;
      }
      .card-body-section-hero {
        .hr {
          margin-block: 1.5rem;
          height: 2px;
          width: 100%;
          background-color: #fafafa;
        }

        /* Cerchio percentuale */

        .skills {
          display: flex;
          gap: 1rem;
          flex-wrap: wrap;
          justify-content: space-around;
          margin-block: 6rem;
          padding-inline: 1rem;

          .skill-level {
            margin-top: 0.5rem;
          }

          .skill-data-container {
            text-align: center;
            .skill {
              position: relative;
              width: 80px;
              height: 80px;
              border-radius: 50%; // <--- serve qui per il contenitore
              background: #111; // colore interno (sfondo)
              display: flex;
              align-items: center;
              justify-content: center;

              &::before {
                content: "";
                position: absolute;
                inset: 0; // copre tutto il box
                border-radius: 50%; // mantiene la forma circolare
                padding: 5px; // spessore del bordo
                background: linear-gradient(
                  to right,
                  #4caf50 var(--border-level),
                  #ccc var(--border-level)
                );
                -webkit-mask: linear-gradient(#fff 0 0) content-box,
                  linear-gradient(#fff 0 0);
                -webkit-mask-composite: destination-out;

                mask: linear-gradient(#fff 0 0) content-box,
                  linear-gradient(#fff 0 0);
                mask-composite: exclude;
              }

              .skill-name {
                position: relative;
                font-size: 0.8rem;
                font-weight: bold;
                color: white;
                text-align: center;
                z-index: 1; // sopra il bordo
              }
            }
          }
        }
      }
      .mat-mdc-card-subtitle {
        color: #fafafa;
      }
      .img-container {
        position: relative;
        text-align: center;
        max-width: 350px;
        margin-right: 2rem;
      }
      img {
        width: 160px;
        border-radius: 1rem;
        margin-right: 1rem;
        z-index: 1000;
      }
      .cornice {
        position: absolute;
        top: 30%;
        left: 40%;
        width: 130px;
        height: 130px;
        border: 2px solid #fafafa;
      }
    }
  }

  .projects {
    width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    top: 1rem;
    transform: translateX(-95%);
    transition: transform 0.8s ease;
    z-index: 9;
    padding-bottom: 2rem;
  }

  .projects .project-btn-toggle {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  &.flipped {
    .hero {
      z-index: 0;
    }
    .projects {
      transform: translateX(10%);
      z-index: 11;
    }
  }
}

.carousel {
  position: relative;
  margin-inline: auto;
  max-width: 90vw;
}

.viewport {
  overflow-x: auto;
  overflow-y: visible;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  gap: 1rem;

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.slide {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
}

.slide .card {
  width: 100%;
  background-color: #0d47a1;
}
.slide .card .card-front img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  display: block;
  object-position: center;
}

.carousel-nav-container {
  width: 100%;
  display: none;
  justify-content: space-between;
  height: 100px;
  padding-inline: 1rem;
}

.dots-container {
  height: 100px;
  display: flex;
  justify-content: center;

  .dots {
    button {
      width: 20px;
      height: 20px;
    }
    .dot {
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.25);
    }
    .active .dot {
      background: rgba(0, 0, 0, 0.7);
    }
  }
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  .card {
    flex: 1 1 calc(33% - 1rem);
    max-width: 500px;
    min-width: 200px;
    position: relative;
    perspective: 800px;

    img {
      width: 100%;
    }
  }
}
.mat-mdc-card-image {
  object-fit: contain;
}
.card-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .mat-mdc-card-content {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.card-back .project-desc {
  margin-top: 1.5rem;
  inline-size: 200px;
  width: 70%;
  word-wrap: break-word;
  text-align: left;
}

@media (min-width: 410px) {
  * {
    font-size: 1rem;
  }
}

@media (min-width: 500px) {
  .header-container {
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .bio-title {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .projects .project-btn-toggle {
    display: none;
  }
  .container .hero {
    z-index: 10;
    left: 50%;
    top: 0;
    transform: translateX(-50%) rotateY(0deg);
  }

  .container .projects {
    left: 60%;
    top: 50px;
    transform: translateX(-50%) rotateY(-180deg);
    z-index: 5;
    padding-bottom: 2rem;
  }

  .container.flipped .hero {
    transform: translateX(-50%) rotateY(180deg);
    z-index: 5;
  }

  .container.flipped .projects {
    transform: translateX(-50%) rotateY(0deg);
    z-index: 10;
  }

  .carousel-nav-container {
    display: flex;
  }
}
