<div class="welcome-container">
  <div class="matrix-container" *ngIf="isMatrix">
    <div class="matrix-pattern" *ngFor="let _ of patterns">
      <div
        class="matrix-column"
        *ngFor="let col of columns"
        [style.left.px]="col.left"
        [style.animation-delay]="col.delay"
        [style.animation-duration]="col.duration"
      ></div>
    </div>
  </div>
  <div class="container" [class.flipped]="isFlipped">
    <div class="section hero">
      <mat-card class="hero-body">
        <div class="header-container">
          <mat-card-header class="welcome-container">
            <div class="bio-title">
              <h1>
                Benvenuto, <br />
                Sono Andrea Ceccarelli.
              </h1>
              <mat-card-subtitle
                >Full-Stack Developer – Angular | Spring Boot |
                SQL</mat-card-subtitle
              >
              <div class="img-container">
                <img
                  mat-card-image
                  src="../../../assets/img/ceccarelli-092025-nobg.png"
                  alt="foto.jpg"
                />
                <div class="cornice"></div>
                <!-- <img
                  class="linee-astratte"
                  src="../../../assets/img/lenee-astratte-removebg.png"
                  alt=""
                /> -->
              </div>
              <div class="cta" role="group" aria-label="Call to action">
                <!-- go to project button -->
                <button
                  class="animated-button"
                  (click)="matrixToggle()"
                  aria-label="Attiva Matrix Mode"
                >
                  <!-- icona entrante -->
                  <svg
                    viewBox="0 0 24 24"
                    class="arr-2"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 12a4.5 4.5 0 1 1 0-9 4.5 4.5 0 0 1 0 9z"
                    ></path>
                    <circle cx="12" cy="12" r="2.5"></circle>
                  </svg>

                  <span class="text">Matrix Mode</span>
                  <span class="circle"></span>

                  <!-- icona uscente -->
                  <svg
                    viewBox="0 0 24 24"
                    class="arr-1"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 12a4.5 4.5 0 1 1 0-9 4.5 4.5 0 0 1 0 9z"
                    ></path>
                    <circle cx="12" cy="12" r="2.5"></circle>
                  </svg>
                </button>

                <!-- dowload CV:  -->
                <a
                  class="animated-button"
                  href="assets/cv/Andrea_Ceccarelli_CV.pdf"
                  download
                  aria-label="Scarica il mio curriculum"
                >
                  <svg
                    viewBox="0 0 24 24"
                    class="arr-2 download-btn"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                    ></path>
                  </svg>
                  <span class="text">Scarica CV</span>
                  <span class="circle"></span>
                  <svg
                    viewBox="0 0 24 24"
                    class="arr-1 download-btn"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                    ></path>
                  </svg>
                </a>

                <!--  Scrivimi email  -->
                <a
                  class="animated-button"
                  href="mailto:tuo.email@esempio.com"
                  aria-label="Scrivimi via email"
                >
                  <!-- icona entrante -->
                  <svg
                    viewBox="0 0 24 24"
                    class="arr-2"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M4 4h16v16H4z" fill="none"></path>
                    <path d="M4 8l8 5 8-5v10H4V8zm8 3L4 6h16l-8 5z"></path>
                  </svg>

                  <span class="text">Scrivimi</span>
                  <span class="circle"></span>

                  <!-- icona uscente -->
                  <svg
                    viewBox="0 0 24 24"
                    class="arr-1"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M4 4h16v16H4z" fill="none"></path>
                    <path d="M4 8l8 5 8-5v10H4V8zm8 3L4 6h16l-8 5z"></path>
                  </svg>
                </a>
              </div>
            </div>
          </mat-card-header>
        </div>

        <div class="card-body-section-hero">
          <mat-divider class="hr" aria-hidden="true"></mat-divider>

          <!-- skills ring-->
          <div class="skills-container">
            <h2 #hardSkillTitle class="h2-hard-skills">HARD SKILLS</h2>

            <!-- Linguaggi -->
            <h3 class="languages">Linguaggi</h3>
            <div class="skills">
              <div
                class="skill-data-container"
                *ngFor="let skill of skills.languages"
              >
                <div class="skill" [style.--border-level]="skill.level + '%'">
                  <i *ngIf="skill.icon" class="{{ skill.icon }} skill-icon"></i>
                  <span class="skill-name">{{ skill.name }}</span>
                </div>
                <p class="skill-level">{{ skill.level }}%</p>
              </div>
            </div>

            <!-- Framework -->
            <h3>Framework</h3>
            <div class="skills">
              <div
                class="skill-data-container"
                *ngFor="let skill of skills.frameworks"
              >
                <div class="skill" [style.--border-level]="skill.level + '%'">
                  <i *ngIf="skill.icon" class="{{ skill.icon }} skill-icon"></i>
                  <span class="skill-name">{{ skill.name }}</span>
                </div>
                <p class="skill-level">{{ skill.level }}%</p>
              </div>
            </div>

            <!-- Librerie -->
            <h3>Librerie</h3>
            <div class="skills">
              <div
                class="skill-data-container"
                *ngFor="let skill of skills.libraries"
              >
                <div class="skill" [style.--border-level]="skill.level + '%'">
                  <i *ngIf="skill.icon" class="{{ skill.icon }} skill-icon"></i>
                  <span class="skill-name">{{ skill.name }}</span>
                </div>
                <p class="skill-level">{{ skill.level }}%</p>
              </div>
            </div>

            <!-- Tools -->
            <h3>Tools</h3>
            <div class="skills">
              <div
                class="skill-data-container"
                *ngFor="let skill of skills.tools"
              >
                <div class="skill" [style.--border-level]="skill.level + '%'">
                  <i *ngIf="skill.icon" class="{{ skill.icon }} skill-icon"></i>
                  <span class="skill-name">{{ skill.name }}</span>
                </div>
                <p class="skill-level">{{ skill.level }}%</p>
              </div>
            </div>

            <!-- Soft Skills -->
            <h2 #softSkillTitle class="h2-soft-skills">SOFT SKILLS</h2>
            <div class="skills">
              <div
                class="skill-data-container"
                *ngFor="let skill of skills.soft"
              >
                <div
                  class="skill soft-skill"
                  [style.--border-level]="skill.level + '%'"
                >
                  <mat-icon>{{ skill.icon }}</mat-icon>
                  <span class="skill-name">{{ skill.name }}</span>
                </div>
                <p class="skill-level">{{ skill.level }}%</p>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="section projects">
      <div class="carousel" role="region" aria-label="Progetti in evidenza">
        <div
          #vp
          class="viewport"
          (scroll)="onScroll(vp)"
          tabindex="0"
          aria-live="polite"
        >
          <div class="slide" *ngFor="let project of projects">
            <mat-card class="card prj">
              <h2>I miei progetti</h2>

              <div class="card-inner" [class.flipped]="project.isFlipped">
                <div class="card-front">
                  <img
                    mat-card-image
                    [src]="project.img"
                    [alt]="project.title || 'project'"
                  />
                </div>
                <div class="card-back">
                  <mat-card-header>
                    <mat-card-title class="project-title">{{
                      project.title
                    }}</mat-card-title>
                  </mat-card-header>

                  <mat-card-content>
                    <p class="project-desc">{{ project.description }}</p>

                    <mat-chip-set
                      *ngIf="project.techs?.length"
                      class="tech-list"
                    >
                      <mat-chip *ngFor="let tech of project.techs" selected>{{
                        tech
                      }}</mat-chip>
                    </mat-chip-set>
                  </mat-card-content>

                  <div class="carousel-nav-container">
                    <button
                      mat-mini-fab
                      class="nav prev"
                      (click)="prev(vp)"
                      aria-label="Precedente"
                    >
                      <mat-icon>chevron_left</mat-icon>
                    </button>
                    <button
                      mat-mini-fab
                      class="nav next"
                      (click)="next(vp)"
                      aria-label="Successivo"
                    >
                      <mat-icon>chevron_right</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
