<mat-toolbar class="nav-container">
  <img
    src="../../../assets/img/ceccarelli-logo.jpeg"
    alt="logo.jpeg"
    class="logo"
  />

  <span class="spacer"></span>

  <input class="label-check" id="label-check" type="checkbox" />
  <label for="label-check" class="hamburger-label">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
    <label></label
  ></label>

  <div class="nav-buttons">
    <!-- Toggle Bio / Progetti -->
    <button class="btn" (click)="flipTogle()">
      {{ isFlipped ? "Bio" : "Progetti" }}
    </button>

    <!-- Vai a Bio -->
    <button class="btn">
      <a routerLink="/about-me" aria-label="Vai alla mia biografia">
        La Mia Bio
      </a>
    </button>
    <!-- Scrivimi (WhatsApp) -->
    <button class="btn">
      <a
        href="https://wa.me/393518714382"
        target="_blank"
        rel="noopener noreferrer"
      >
        Scrivimi
      </a>
    </button>

    <!-- Matrix mode -->
    <button class="btn matrix-btn" (click)="matrixToggle()">Matrix</button>
  </div>
</mat-toolbar>

<!-- Mobile Menu -->
<div class="mobile-menu" [class.open]="isMobileMenuOpen">
  <div class="mobile-menu-content">
    <button class="mobile-btn" (click)="flipTogle(); toggleMobileMenu()">
      {{ isFlipped ? "Bio" : "Progetti" }}
    </button>
    <a
      class="mobile-btn"
      href="https://wa.me/393518714382"
      target="_blank"
      rel="noopener noreferrer"
      (click)="toggleMobileMenu()"
      >Scrivimi</a
    >
    <button
      class="mobile-btn matrix-btn"
      (click)="matrixToggle(); toggleMobileMenu()"
    >
      Matrix
    </button>
  </div>
</div>
