// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portfolio-07-2025-primary: mat.define-palette(mat.$blue-palette, 900);
$portfolio-07-2025-accent: mat.define-palette(mat.$grey-palette, 800);

// The warn palette is optional (defaults to red).
$portfolio-07-2025-warn: mat.define-palette(mat.$deep-orange-palette, 500);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$portfolio-07-2025-theme: mat.define-light-theme(
  (
    color: (
      primary: $portfolio-07-2025-primary,
      accent: $portfolio-07-2025-accent,
      warn: $portfolio-07-2025-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($portfolio-07-2025-theme);

/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
